:root{
    
}
body{
    font-family: 'Lato', sans-serif;
}
@keyframes toggle{
    from{
        margin-left:-101%;
    }to{
        margin-left:0%;
    }
}
.toggle-element{
    margin-left:0 !important;
}
.page-body, html{
    margin:0;
    padding:0;
}
.page-nav{
    width:100%;
    height:50px;
    position:fixed;
    background-color:#303984;
    top:0;
    left:0;
}
.btn{
    width: 40px;
    height: 20px;
    border: 0;
    border-top: 5px solid #ffffff;
    background: transparent;
    position: relative;
    margin:15px;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #ffffff;
  transform: translateY(10px);
}
.web-logo{
    width:35px;
    height:35px;
    margin:0;
    position:absolute;
    right:20px;
    top:8px;
}
.heading-nav-logo{
    width:100%;
    height:100%;
}
.page-aside{
    width:100%;
    position:fixed;
    top:50px;
    height:100%;
    border-top:2px solid #ffffff;
    z-index: 99;
    margin-left:-101%;
    background-color:#38429a;
}
.z{
    width:100%;
    height:100%;
    z-index: -999;
    position:absolute;
    top:0;
    left:0;
    background-color: #1f2660;
    background-blend-mode: screen;
    background-image: url(img/chrobry.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%) blur(3px);
}
.overflow-lock{
    overflow:hidden;
}
.logo{
    margin-top:30px;
}
.aside-nav{
    position:absolute;
    width:80%;
    left:50%;
    transform:translateX(-50%);
}
.logo figure{
    width:80px;
    height:80px;
    margin:auto;
    margin-top:30px;
}
.aside-logo{
    width:100%;
    height:100%;
}
.hide-modal{
    animation: hideModal 0.5s;
    animation-timing-function:ease-in-out;
    margin-left:-100% !important;
}
@keyframes hideModal{
    from{ 
        margin-left:0%;
    }to{   
        margin-left:-100%;
    }
}
.MarginReset{
    animation: showModal 0.5s;
    animation-timing-function:ease-in-out;
    margin-left:0% !important;
}
@keyframes showModal{
    from{ 
        margin-left:-100%;
    }to{   
        margin-left:0;
    }
}
.modal-div{
    position:fixed;
    width:98%;
    height:90%;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    background:#ffffff;
    z-index: 99999;
    overflow:hidden;
    border:4px solid #303984;
    overflow-x:hidden;
    margin-left:-100%;
}
.closeModal{
    position:fixed;
    width:100%;
    height:100%;
    z-index: 9995;
    cursor:pointer;
}
.modal{
    position:absolute;
    bottom:0;
    left:0;
    height:90%;
    overflow-y:auto !important;
}
.modal-div > .content {
    font-size:18px;
}
.modal::-webkit-scrollbar {
    width: 4px;
}
.moda::-webkit-scrollbar-track {
    background:#c7c2c2;
}
.modal::-webkit-scrollbar-thumb {
    background-color: #38429a;
}
.close-modal{    
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background:#303984;
}
.close-text{
    border:0;
    padding:10px;
    font-size:18px;
    cursor:pointer;
    text-align:center;
    margin:0;
    color:#ffffff;
}
.modal-opened::after{
    content:'';
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.6);
    z-index: 999;
    height:100vh;
}
.title-text{
    text-align:center;
    font-size:23px;
    color:#ffffff;
}
.ol-list{
    padding:0;
    margin:0;
}
.wrap{
    display:none;
   /* display:flex;
    justify-content: center; */
}
.next, .previous{
    margin:20px;
    width:40px;
    height:40px;
    border:0;
    border-top:5px solid #ffffff;
    border-left:5px solid #ffffff;
    background:transparent;
    position:relative;
    float:left;
    cursor:pointer;
}
.next{
    transform:rotate(135deg);
}
.previous{
    transform:rotate(-45deg);
}
.list{
    list-style: none;
    text-align:left;
}
a{
    text-decoration: none;
    color:#ffffff;
    text-shadow: 
        4px 3px 10px #000000;
    cursor:pointer;
}
.color{
    color:#ffffff;
    
}
.heading-title{
    margin-top:20px;
    font-size:18px;
    color:#ffffff;
    text-align:center;
    text-shadow: 
        3px 3px 10px #000000;
}
.school-name{
    text-align:center;
    color:#ffffff;
    text-shadow: 
        5px 5px 10px #000000;
}
.page-header{
    margin-top:50px;
    width:100%;
}
.num-pages{
    color:#ffffff;
    font-size:18px;
    display:flex;
    align-items: center;
}
.banner img{
    width:100%;
}
.banner figure{
    border-top:2px solid #ffffff;
    margin:0;
    padding:0;
}
.heading-graphic2, .heading-graphic1{
    display:none;
}
.rightSideText{
    text-align:right;
    padding:20px;
    font-size:22px;
    margin-top:10px;
    margin-bottom:20px;
    color:#303984;
}
.ShowBtn{
    padding:20px;
    font-size:20px;
    color:#303984;
    font-style: italic;
    cursor:pointer;
}
.heading-main{
    width:100%;
    background-color:#303984;
    color:#ffffff;
    text-align:center;
    padding:10px;
    box-sizing: border-box;
}
.web-article{
    border-bottom:2px solid #303984;
}
.black-borders{
    border-top:5px solid #000000 !important;
    border-left:5px solid #000000 !important;
}
.article-title{
    margin:0;
    color:#303984;
    font-size:28px;
    border-bottom:2px solid #303984;
    padding:10px;
    text-align:center;
}
.content{
    text-align:justify;
    padding:20px;
    font-size:22px;
    margin-top:10px;
    margin-bottom:20px;
    color:#303984;
}
.date{
    padding-right:10px;
    text-align:right;
    clear:both;
}
.page-footer{
    width:100%;
    background-color:#303984;
    color:#ffffff;
    margin:0;
    padding:0;
}
.desc{
    margin:0;
    padding:10px;
    text-align:center;
}
@media only screen and (min-width: 600px){
    .page-aside{
        width:50%;
    }
}